#restarter{
    width: 60%; height: 60%;
    position: absolute;
    top: 20%; left: 20%;
    border: 2px solid; border-radius: 2px;
    background: white; font-size: 2em;
    text-align: center; box-sizing: border-box;
}
#restarter button{
    display: block;
    width: 40%;
    height: fit-content;
    font-size: inherit;
    margin: 20 0 0 30%;
}
/*for touches */
#pad{
        width: 150px;
        display: flex; flex-wrap: wrap;
        position: fixed;
        top: calc(80% - 75px); left: calc(90% - 75px);
}
#pad input{
    width: 50px;
    height: 50px;
    font-size: 100%;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 6px 9px 11px;
}
#pad input:hover, #pad input:focus, #pad input:active{
    outline: none;
}

[value='↖'], [value='↗'], [value='↘'], [value='↙']{
/*     visibility: hiden; */
}